



*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(001.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.mainlabs{
    width: 100%;
    
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;

    height: 75px;
    margin: auto;
}


.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.show {  
  display:block;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(2, 1, 1);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
ul li ul.dropdown {
    min-width: 10%; /* Set width of the dropdown */
    background:rgb(252, 249, 249);
    border: 1px solid #fc5603;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px;
    display:none;
    position: right;
    z-index:auto;
    left: 0;
}
ul li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li {
    display: inline;
}

.search{
    width: 330px;
    float: right;
    margin-left: 270px;
}



.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: auto;
    height: 1200px;
    margin: auto;
    color: #fff;
    position: relative;
}


.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 25%;
    left: 75%;
    right: 5%;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    
}

.form h2{
    width: 220px;
    font-family: 'Times New Roman';
    text-align: left;
    color: #ff7200;
    font-size: 22px;
    
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form h1{
    width: 220px;
    font-family: 'Times New Roman';
    text-align: left;
    color: #d8b898;
    font-size: 15px;
    
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 2px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 2px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}


::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}

body {
    background: #DFC2F2;
      background-image: linear-gradient( to right, #b964f2,#fc9b1d);
      background-attachment: fixed; 
      background-size: cover;
      
      }
    
    #container{
      box-shadow: 0 15px 30px 1px grey;
      background: rgba(255, 255, 255, 0.90);
      text-align: center;
      border-radius: 5px;
      overflow: hidden;
      margin: 5em auto;
      height: 350px;
      width: 700px;
      
      
    }
    
    
    
    .product-details {
      position: relative;
      text-align: left;
      overflow: hidden;
      padding: 30px;
      height: 100%;
      float: left;
      width: 40%;
    
    }
    
    #container .product-details h1{
      font-family: 'Bebas Neue', cursive;
      display: inline-block;
      position: relative;
      font-size: 30px;
      color: #344055;
      margin: 0;
      
    }
    
    #container .product-details h1:before{
      position: absolute;
      content: '';
      right: 0%; 
      top: 0%;
      transform: translate(25px, -15px);
      font-family: 'Bree Serif', serif;
      display: inline-block;
      background: #ffe6e6;
      border-radius: 5px;
      font-size: 14px;
      padding: 5px;
      color: white;
      margin: 0;
      animation: chan-sh 6s ease infinite;
    
    }
    
    #container .product-details > p {
      font-family: 'EB Garamond', serif;
      text-align:left;
      font-size: 18px;
      color: #7d7d7d;
      
    }
    .control{
      position: absolute;
      bottom: 20%;
      left: 22.8%;
      
    }
    .btn {
    
      transform: translateY(0px);
      transition: 0.3s linear;
      background:  #fd9a05;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      outline: none;
      border: none;
      color: #eee;
      padding: 0;
      margin: 0;
      
    }
    
    .btn:hover{transform: translateY(-6px);
      background: #ff9c07;}
    
    .btn span {
      font-family: 'Farsan', cursive;
      transition: transform 0.3s;
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.2em;
      margin:0;
      
    }
    .btn .price{
      background: rgb(10, 10, 10);
      border: 0;
      margin: 0;
    }
    
    .btn .price {
      transform: translateX(-10%); padding-right: 15px;
    }
    
    
    
    .btn:hover .price {transform: translateX(-110%);}
      
    
    
    .product-image {
      transition: all 0.3s ease-out;
      display: inline-block;
      position: relative;
      overflow: hidden;
      height: 100%;
      float: right;
      width: 45%;
      display: inline-block;
    }
    
    #container img {width: 100%;height: 100%;}
    
    .info {
        background: rgba(27, 26, 26, 0.9);
        font-family: 'Bree Serif',serif;
        transition: all 0.3s ease-out;
        transform: translateX(-100%);
        position: absolute;
        line-height: 1.8;
        text-align: start;
        font-size: 105%;
        cursor: no-drop;
        color: rgb(250, 141, 8);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .info h2 {text-align: center}
    .product-image:hover .info{transform: translateX(0);}
    
    .info ul li{transition: 0.3s ease;}

    .info ul li:hover{transform: translateX(50px) scale(1.3);}
    
    .product-image:hover img {transition: all 0.3s ease-out;}
    .product-image:hover img {transform: scale(1.2, 1.2);}
    select {
        margin-bottom: 30px;
        margin-top: 15px;
        font-family: cursive, sans-serif;
        outline: 0;
        background: #fc5603;
        color: #fff;
        border: 1px solid black;
        padding: 4px;
        border-radius: 9px;
      }

      .about {
        position: relative;
        background: url("working.jpg") no-repeat top center/cover;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        margin: 2rem 0;
      }

      
      .logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 33%;
        border: 2px solid white;
        border-radius: 50px;
    }

    .firstsection {
        height: 100vh;
    }

    .box-main {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        max-width: 50%;
        margin: auto;
        height: 80%;
    }

    .firstHalf {
        width: 75%;
        display: flex;
        flex-direction: column; 
        justify-content: center
    }

    .firstHalf img {
        display: flex;
        border-radius: 9050px;
    }

    .text-big {
        font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 41px;
        text-align: center;
    }

    .text-small {
        font-family: 'Sansita Swashed', cursive;
        font-size: 18px;
        text-align: center;
    }

    #service {
        margin: 34px;
        display: flex;
    }

    #service .box {
        padding: 100px;
        margin: 3px 6px;
        border-radius: 28px;
    }

    #service .box img {
        margin-top: 10px;
        height: 150px;
        margin: auto;
        display: block;
        border-radius: 200px;
    }

    #service .box p {

        font-family: sans-serif;
        text-align: center;
    }

    #services {
        margin: 34px;
        display: flex;
    }

    #services .box {

        padding: 100px;
        margin: 3px 6px;
        border-radius: 28px;
    }

    #services .box img {
        margin-top: 10px;
        height: 150px;
        margin: auto;
        display: block;
        border-radius: 100px;
    }

    #services .box p {

        font-family: sans-serif;
        text-align: center;
    }

    .btn {
        padding: 8px 20px;
        margin: 7px 0;
        border: 2px solid white;
        border-radius: 8px;
        background: none;
        color: white;
        cursor: pointer;
    }

    .btn-sm {
        padding: 6px 10px;
        vertical-align: middle;
    }

    .center {
        text-align: center;
    }

    .text-footer {
        text-align: center;
        padding: 10px 0;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: center;
    }
    @media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;
}
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    margin-top: 200px;
  }
  
  .card {
    position: relative;
    height: auto;
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: linear-gradient(to top, rgba(205, 99, 18, 0.8)50%,rgba(0,0,0,0.8)50%);
    top: 25%;
    left: 15%;
    bottom: 30%;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
  }
  
  .card-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  .card-text {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
  
  .card-link {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .card-details {
    position: absolute;
    top: auto;
    left: 20;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: none;
  }
  
  .card-details p {
    font-size: 14px;
    margin: 0;
  }

 @media (max-width: 600px) {
    .card {
      width: 100%;
  }
  }    

  .hidden {
    display: none;
  }









      